<p>Dear <%= @to.name %>,</p>

<p><%= @from.name %> &lt;<%= @from.email %>&gt; has requested to connect with you on the Bentley Needs Money app.</p>

<p>To accept or deny the request from <%= @from.name %>, please use the <%= link_to 'connections page', connections_url %> in the app.</p>

<p>Yours truly,</p>

<p>The Bentley Needs Money Crew</p>