<%= link_to edit_payback_path(person_transfer),
    id: dom_id(person_transfer),
    class: "person-transfer grid is-gap-0",
    "data-turbo-frame": "side_panel_contents",
    "data-action": "click->action-bar#enableNewTransaction" do
%>
    <div class="cell transfer-date is-hidden-mobile">
        <%= person_transfer.transfer.date %>
    </div>
    <div class="cell transfer-payee">
        <%= person_transfer.transfer.payee %>
    </div>
    <div class="cell transfer-memo is-row-start-2-mobile">
        Payback
    </div>
    <div class="cell transfer-dollar-amount-paid is-col-span-2-mobile has-text-right">
        <%= number_to_currency(person_transfer.transfer.dollar_amount_paid) %>
    </div>
    <div class="cell person-transfer-dollar-amount is-col-span-2 has-text-right">
    </div>
    <div class="cell person-transfer-dollar-cumulative-sum has-text-right is-hidden-mobile">
        <%= number_to_currency(person_transfer.dollar_cumulative_sum) %>
    </div>
<% end %>