<%= turbo_frame_tag "side_panel_contents" do %>
  <%= form_with model: @payback do |form| %>
    <div class="card" data-controller="card">
      <header class="card-header">
        <p class="card-header-title">Edit Payback</p>
        <a href="#" class="card-header-icon" data-action="click->clearing#clearChildren">
          <span class="icon">
            <i class="fa-solid fa-xmark fa-lg has-text-link"></i>
          </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
          <div class="field">
            <div class="label">
              Person
            </div>
            <div class="control">
              <%= @other_person.name %>
            </div>
          </div>
          <%= form.bulma_form_element :number_field, :dollar_amount_paid, step: 0.01, icon_left: "fa-solid fa-dollar-sign", label_text: "Amount" %>
          <%= form.bulma_form_element :date_field, :date %>
        </div>
      </div>
      <footer class="card-footer buttons has-addons">
        <%= form.submit "Update", class: "card-footer-item button is-link" %>
        <%= link_to "Delete",
          payback_path(@payback),
          class: "card-footer-item has-text-danger",
          data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure you want to delete this payback?"
          }
        %>
        <a href="#" class="card-footer-item" data-action="click->clearing#clearChildren">Cancel</a>
      </footer>
    </div>
  <% end %>
<% end %>