<!DOCTYPE html>
<html>
  <head>
    <title>Bentley Needs Money <%= " | " + content_for(:title) if content_for(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag asset_path("bentley-32x32.png") %>
    <%= favicon_link_tag asset_path("bentley-180x180.png"), rel: "apple-touch-icon", type: "image/png" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/60cf2ed680.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", defer: true %>
  </head>

  <body>
    <%= content_for?(:base_content) ? yield(:base_content) : yield %>
  </body>
</html>
