<%= content_for :base_content do %>
  <nav id="navigation-bar" class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to root_url, class: "navbar-item title" do %>
          <%= image_tag "bentley-180x180.png" %>
          Bentley Needs Money
        <% end %>
        <% if person_signed_in? %>
          <a class="navbar-burger" role="button" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        <% end %>
      </div>
      <% if person_signed_in? %>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-start">
            <%= link_to 'Expenses', debts_path, class: "navbar-item" + (current_page?(debts_path) ? " is-active" : "") %>
            <%= link_to 'Connections', connections_path, class: "navbar-item" + (current_page?(connections_path) ? " is-active" : "") %>
          </div>
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable dropdown">
              <a class="navbar-link dropdown-trigger">
                <%= current_person.name %>
              </a>
              <div class="navbar-dropdown">
                <%= link_to_unless_current('Edit Profile', edit_person_registration_path, class: 'navbar-item dropdown-item') {} %>
                <%= button_to 'Logout', destroy_person_session_path, method: 'delete', class: 'navbar-item dropdown-item' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </nav>
  <%= content_for?(:navigable_content) ? yield(:navigable_content) : yield %>
<% end %>
<%= render template: "layouts/base" %>